.error-message {
	color: #e24141;
	height: 50px;
	width: 100%;
	display: flex;
	background-color: #f8d7da;
	border-radius: 4px;
	position: relative;
	padding: 1rem;
	margin: 1rem 0;
	.message {
		width: 100%;
		display: flex;
		align-items: center;
		font-weight: lighter;
		height: 100%;
	}
	.clear-btn {
		margin-left: auto;
		background: none;
		border: none;
		color: #e24141;
		height: 100%;
		cursor: pointer;
		&:hover {
			font-weight: 600;
		}
	}
}
