@import '../../styles/mixins.scss';

.pool-page {
	padding: var(--padding);
	height: fit-content;
	min-height: 120vh;
	padding-top: 2rem;

	.pool-content {
		margin: 0 auto;

		@include laptop() {
			width: 1304px;
		}
		@include macbook() {
			max-width: 1100px;
		}
		@include md() {
			max-width: 960px;
		}
		@include phone() {
			width: auto;
			margin: 0;
			padding: 0;
		}
	}
	.pool-header {
		height: 50px;
		font-size: 0.9rem;
		width: 69%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-top: 1rem;
		@include phone() {
			height: fit-content;
			padding-bottom: 1rem;
		}
		h1 {
			user-select: none;
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			width: 40%;
			@include phone() {
				width: 100%;
				text-align: center;
			}
		}
		@include phone() {
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
		.legend {
			height: 40%;
			width: 75%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 1rem;
			@include phone() {
				width: 100%;
				justify-content: center;
			}
			.legend-box {
				width: fit-content;
				position: relative;
				display: flex;
				gap: 0.5rem;
				align-items: center;
				@include phone() {
					margin: 1rem 0;
				}
				span {
					width: 15px;
					height: 15px;
					border-radius: 2px;
				}
				.win {
					background-color: #25a35a;
				}
				.lose {
					background-color: #e24141;
				}
				.none {
					background-color: #727477;
				}
			}
		}
		.missed-pick {
			color: #e24141;
			font-weight: 600;
			font-size: 1rem;
			display: none;
			@include phone() {
				display: flex;
				background-color: #f8d7da;
				padding: 1rem;
				border-radius: 4px;
				margin-bottom: 2rem;
				font-weight: lighter;
				width: 100%;
				position: relative;
				span {
					.icon {
						position: absolute;
						right: 0.5rem;
						top: 0.25rem;
						cursor: pointer;
					}
				}
			}
		}
	}
	.content {
		display: flex;
		gap: 1rem;
		position: relative;
		height: 100%;
		margin-top: 1rem;
		@include phone() {
			overflow-x: scroll;
		}
		.mobile-no-picks {
			width: 100%;
			left: 0;
			padding: 1rem 0;
			gap: 1rem;
			display: none;
			@include phone() {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				p {
					font-size: 1rem;
					font-weight: 600;
				}
			}

			.btn {
				margin: 0;
				width: 130px;
				height: 50px;
			}
		}
		.users,
		.users-reverse {
			display: flex;
			gap: 1rem;
			width: 70%;
		}
		.users-reverse {
			flex-direction: column-reverse;
		}
	}
}
